html, body, #root {
  height: 100%;
  margin: 0;
}

/* for messages in Products, Increments and Models when no data is provided */ 
.empty-message-header {
  text-align: center;
  padding-top: 20px;
  margin-bottom: 5px;
  color: #999;
}

/* for messages in Products, Increments and Models when no data is provided */ 
.empty-message-body {
  text-align: center;
  padding-bottom: 20px;
  color: #999;
}

/* used by Products and Models */
.clickable-row:hover {
  background-color: #f0f0f0;
}

/* used by Products and Models */
.clickable-row a {
  cursor: pointer;
  text-decoration: underline;
}