.model-error-message {
    text-align: center;
  }
  
.model-clickable-row {
  cursor: pointer;
  align-items: center;
  display: flex;
  padding: 10px;
  border-radius: 5px;
  border: 0px;
}

.model-clickable-row:hover {
  background-color: #f0f0f0;
}

.model-clickable-row a {
  cursor: pointer;
  text-decoration: underline;
}

.model-thumbnail {
  width: 150px;
  margin-right: 10px;
  border: 0.5px solid gray;
}

.model-content {
  flex: 1;
  margin-right: 10px;
}

.model-actions {
  display: flex;
  align-items: center;
}

.model-actions .action-button {
  opacity: 0.2;
  transition: opacity 0.3s ease;
}

.model-actions .action-button:hover {
  opacity: 1;
}