.product-container {
  margin-top: 5em;
}

.product-segment {
  min-height: 150px;
}

.product-error-message {
  text-align: center;
}

.product-row {
  padding-bottom: 0;
}

.product-label {
  margin: 2px !important;
}

.product-breadcrumb-name {
  word-break: normal;
  overflow-wrap: anywhere;
}

.product-description {
  word-break: normal;
  overflow-wrap: anywhere;
}

.product-responsible {
  word-break: normal;
  overflow-wrap: anywhere;
}